PORT=8080
JWT_SECRET=changeme_use_strong_secret_in_prod
AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
CATALOG_SERVICE_URL=http://localhost:3003
CUSTOMER_SERVICE_URL=http://localhost:3004
SALES_SERVICE_URL=http://localhost:3005
REPORT_SERVICE_URL=http://localhost:3006
